* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.navbar {
    position: fixed;  
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 60px;
    background: #151515; 
    /* backdrop-filter: blur(5px);       */
}

.navbar-container {
    color: white;
    display: flex;
    align-items: center;
    padding: 0 25px;
    height: 100%;
    font-family: "Sen", sans-serif;
}

.logo-container {
    flex: 1;
}

.logo-container .logo {
    width: 100%;
    padding-right: 30px;
    
}

.menu-container {
    flex: 5;
}

.menu-list {
    display: flex;
    gap: 20px;
}

/* Thiết kế thanh chuyển dưới chân chữ */
.menu-list-item a {
    position: relative;
    text-decoration: none;
    color: rgb(255, 253, 253);
    padding: 5px 10px; 
    font-weight: bold;
}

.menu-list-item a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; /* cách chữ 1 chút */
    width: 100%;
    height: 4px;   /* độ dày của thanh dẹt */
    background: rgb(255, 216, 45);
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: center;
}

.menu-list-item a:hover::after,
.menu-list-item a.active::after {
    opacity: 1;
    transform: scaleX(1);
}

.profile-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.search-icon {
  position: relative;
  margin-right: 15px;
  left: 55%;
  color: #333;
  padding: 5px;
  border-left: 2px solid rgb(133, 127, 127);
}

.search-box {
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid #E50914;
  background-color: #fdfbfb;
  height: 28px;
  width: 270px;
}

/* Ẩn nút x (clear) mặc định của search input trên Chrome, Edge */
.search-box::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.search-box::placeholder {
  color: #6d6767;
  font-weight: bold;
}

.sign-in-container {
  display: flex;
}

.btn {
    width: 80px;
    height: 30px;
    margin-left: 20px;
    background-color: #E50914;
    border-radius: 5px;  
    font-weight: bold;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn.register {
  background-color: transparent;
  border: 1px solid #fdfbfb;
}
  
.banner {
  width: 100%;
  height: 100vh;
  /* padding-top: 60px; */
  /* overflow: hidden; */
  background-size: cover;
  background-position: center;
}

.banner img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
}

.content-container {
  /* background-color: #e2343a; */
  margin-left: 50px;
  padding: 20px;
}

.movie-list-container {
  color: white;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  /* background-color: aqua; */
}

.movie-list {
  display: flex;
  margin: 30px 0;
  /* background-color: rgb(117, 39, 168); */
  /* width: 100vw; */
  height: 250px;
}

.movie-list-item {
  /* background-color: darkcyan; */
  position: relative;
  width: 200px;
  height: 270px;
  margin-right: 30px;
  border-radius: 20px;
  /* overflow: hidden; */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* border: 1px solid #333; */
  /* overflow: hidden; */
}

.movie-list-item:hover {
  transform: scale(1.1); 
  z-index: 10;                              /* nổi lên trên */
  /*box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6); thêm đổ bóng */
}

.movie-list-item img {
  width: 200px;
  height: 280px;
  object-fit: cover;
  border-radius: 20px;
  /* transition: transform 0.3s ease; */
}

.overlay {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 280px;
  background: rgba(44, 42, 42, 0.6);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
  border-radius: 20px;
}

.overlay p {
  position: absolute;
  bottom: 20px;
  font-size: 16px;
  
}

.icon-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* border: none; */
  /* outline: none; */
  font-size: 28px;
  color: white;
  background: rgba(255, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(0.8);
  transition: transform 0.5s ease-in-out; 
}

.movie-list-item:hover .overlay{
  opacity: 1;
}

.movie-list-item:hover .play-btn {
  transform: scale(1.1);
}

.footer {
  width: 100%;
  height: 250px;
  background-color: black;
  color:white;
  padding: 40px;
  display: flex;
}

.footer-logo {
  flex: 1;
  text-align: center;
}

.fa-brands {
  margin: 20px 10px;
  font-size: 40px;
}

.footer-logo img {
  width: 40%;
  height: 50px;
  object-fit: cover;
}

.footer-columns {
  flex: 1.5;
  display: flex;
}

.footer-column {
  flex: 1;
}

.footer-title {
  color: #e6d2d5;
  font-weight: bold;
  font-size: 24px;
}

.footer-list {
  list-style: none;
}

.footer-item a {
  color: white;
  /* text-decoration: none; */
  line-height: 2.5;
  font-style: italic;
}

.nav-bars-btn {
  display: none;
  width: 28px;
  height: 28px;
  color: white;
}

/* Mobile (max-width: 768px) */
@media (max-width: 430px) {
  .navbar {
    height: 45px;
    width: 100%;
  }
  
  .navbar-container {
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    padding-left: 0;
    padding-right: 15px;
  }

  .logo-container .logo {
    width: 40%;
    margin-top: 8px;
  }

  .menu-container {
    display: none;
    /* width: 100%;
    margin-top: 10px; */
  }

  /* .menu-list {
    flex-direction: column;
    gap: 10px;
  } */

  .profile-container {
    display: none;
    /* flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px; */
  }

  /* .search-box {
    width: 100%;
    margin-top: 10px;
  } */

  /* .sign-in-container {
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
  } */

  /* .btn {
    width: 100px;
    margin: 10px 10px 0 0;
  } */

  .banner {
    width: 100%;
    height: 250px;
    margin-top: 30px;
  }
  .banner img {
    height: 260px;
    width: 100%;
    object-fit: cover;
  }

  .content-container {
    padding: 10px 0;
    margin-left: 0;
  }

  .movie-list {
    overflow-x:scroll;
    flex-wrap: nowrap;
  }
  
  .movie-list-container {
    font-size: 11px;
  }
  
  .movie-list {
    margin: 20px 0;
    height: 170;
  }
  .movie-list-item {
    
    width: 160px;
    height: 200px;
    margin: 20px 10px 0 10px;
  }

  .movie-list-item img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  display: block;    
  }

  .overlay {
  width: 100%;
  height: 200px;
  padding-left: 10px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
  }

  .footer-columns {
    flex-direction: column;
    margin-top: 20px;
  }

  .footer-logo img {
    width: 60%;
  }

  .footer-column {
    margin-bottom: 20px;
  }

  .icon-btn {
    width: 50px;
    height: 50px;
    font-size: 22px;
  }
  .nav-bars-btn {
    display: block;
  }
}









